.parent  {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
 height: 100vh;
}
.temp-div {
 display: flex;
 justify-content:flex-start;
 align-items: center;
 flex-direction: column;
 background-color:#c3e4f3 ;
 height: 50vh;
 width: 50vw;
 border-radius: 10px;
 
}
.heading h2{
  margin-top: 20px;
  color: black;
}


.input-box {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  background-color: aliceblue;
  opacity: 100%;
}